@charset "utf-8";
* {
    padding: 0;
    margin: 0; 
}
header, nav, section, footer, main {
    margin: 0 auto;
    width: 80%;
   
}
header {
    color: #000000;
    background-color: #3FA3A8;
    height: auto;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 17px;
}
header h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
}
main {
	display: flex; 
	flex-direction: column; 
	align-items: center; 
    background-color: #B7F4F9;
    padding-top: 50px;
    padding-bottom: 30px;
	
}
nav {
    height: 60px;
    text-shadow: 0px 0px;
    background-color: #C75052;
    color: #FFFFFF;
}
nav ul {
    display: flex; 

}
nav ul li {
    margin-left: 25px;
    margin-right: 10px;
    list-style-type: none;
    height: 20px;
    justify-content: center;
    margin-top: 15px;
} 
footer {
	display: flex; 
    background-color: #C75052;
    height: auto;
    color: #FFFFFF;
	justify-content: center; 
	align-items: center; 
}
footer h5 {
    padding-top: 50px;
    padding-bottom: 50px;
}
main section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #E78C8E;
    padding: 20px;
}

main section h2 {
    color: #FFFFFF;
    font-weight: 100px;
    font-style: normal;
    padding-bottom: 30px;
    font-family: satisfy;
    font-size: 32px; 
}
main section h3{
    color: #FFFFFF;
	font-size: 25px; 
}
section{
    margin: 20px 0px;
    border-style: none;
	border: 5px outset #FBF7FA;
}
a:link{
    color: #B7F4F9;
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color: #FFE08F;
	text-decoration: none;
	font-weight: bold;
}
a:active{
    color: #074541;
	text-decoration: none;
	font-weight: bold; 
}
a:hover{
    color: #6B5D18;
    text-decoration: none;
    font-weight: bold;
}	
.contenedor-flexible{
	background-color: #369FAC;
	display:flex; 
}
.contenedor-flexible>div, .contenedor-flexible-1>div, .contenedor-flexible-2>div, .contenedor-flexible-3>div, .contenedor-flexible-4>div, .contenedor-flexible-5>div, .contenedor-flexible-6>div, .contenedor-flexible-7>div, .contenedor-flexible-8>div{
	width: 400px; 
	height: 50px; 
	background-color: #F5E6CC;
	margin: 10px;
	padding: 30px; 
	font-size: 32px; 
	text-align: center; 
}
.contenedor-flexible-1>div{
	width: 30%; 
}
.contenedor-flexible-3>div{
	width: 20%; 
}
.contenedor-flexible-4>div{
	height: auto; 
}
.contenedor-flexible-5>div{
	width: 100px; 
	height: auto; 
}
.contenedor-flexible-6>div{
	width: 100px; 
}
.contenedor-flexible-7>div{
	width: 200px; 
	height: 200px; 
}
.contenedor-flexible-1{
	background-color: #369FAC;
	display:flex;
	flex-direction: column; 
}
.contenedor-flexible-2{
	background-color: #369FAC;
	display:flex;
	flex-wrap: wrap; 
}
.contenedor-flexible-3{
	background-color: #369FAC;
	display:flex;
	justify-content: center; 
}
.contenedor-flexible-4{
    background-color: #369FAC;
    display: flex;
    height: 126px;
    align-items: stretch;
}
.contenedor-flexible-5{
	background-color: #369FAC;
	display:flex;
	height: 300px; 
	align-items: baseline; 
}
.contenedor-flexible-6{
	background-color: #369FAC;
	display:flex;
	height: auto; 
	flex-wrap: wrap; 
	align-content: space-around; 
}
.contenedor-flexible-7{
	background-color: #369FAC;
	display:flex;
	height: 400px; 
	flex-wrap: wrap; 
	justify-content: center;
	align-items: center; 
}
.contenedor-flexible-8{
	background-color: #369FAC;
	display:flex;
	height: auto; 
}
.contenedor-flexible-9{
	width: 400px; 
	height: 50px; 
	background-color: #F5E6CC;
	margin: 10px;
	padding: 30px;
}
.imagen_flotante {
    width: 23%;
    float: left;
    margin-right: 34px;
    margin-bottom: 13px;
    padding-left: 21px;
    padding-top: 15px;
}
.h3 {
    padding-bottom: 14px;
}
.parrafo2 {
    color: #000000;
    text-align: center;
    font-size: 16px;
}
.parrafo {
    color: #FFFFFF;
    padding-top: 16px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: -15px;
    margin-right: 24px;
    text-align: justify;
}
